apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: kube-system
  name: metrics-server
spec:
  template:
    spec:
      containers:
        - name: metrics-server
          args:
            - --cert-dir=/tmp
            - --secure-port=10250
            - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
            - --kubelet-use-node-status-port
            - --metric-resolution=15s
            # metrics-server is not happy about kind's cert
            - --kubelet-insecure-tls
